<footer class="foot">
    <div class="row row1"></div>
    <div class="mask">
        <div class="inner">
            <div class="title">武汉理工大学启明星创新团队</div>
            <div class="content">
                地址：湖北省武汉市武昌区和平大道1178号武汉理工大学余家头校区<br/>
                邮箱：bettycao@whut.edu.cn
            </div>
        </div>
    </div>
    <div class="row row2" id="footmenu">
        <div class="inner">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/news">团队新闻</a></li>
                <li><a href="/people">研究团队</a></li>
                <li><a href="/aboutus">关于我们</a></li>
                <li><a href="/joinus">加入我们</a></li>
                <li><a href="/link">友情链接</a></li>
            </ul>
        </div>   
    </div>
    <div class="row row3">
        <span>© 武汉理工大学启明星创新团队 版权所有</span>
    </div>
</footer>
