<div class="ss ss-topmenu" id="ss-topmenu">
    <div class="inner">
        <a class="left" href="/">
            <div class="logo1 logo">
                <div class="img"></div>
            </div>
            <div class="logo2 logo">
                 <div class="img"></div>
            </div>
            <div class="content">
                <div class="title"></div>
            </div>
        </a>
        <div class="right">
            <ul class="list">
                <a href="/">
                    <li class="topmenu-index ">
                        首页
                    </li>
                </a>
                <a href="/news">
                    <li class="topmenu-index">
                        团队新闻
                    </li>
                </a>
                <a href="/people">
                    <li class="topmenu-index">
                        研究团队
                    </li>
                </a>
                <a href="/aboutus">
                    <li class="topmenu-index">
                        关于我们
                    </li>
                </a>
                <a href="/joinus">
                    <li class="topmenu-index">
                        加入我们
                    </li>
                </a>
                <a href="/link">
                    <li class="topmenu-index">
                        友情链接
                    </li>
                </a>
                <div class="bottomLine"></div>
            </ul>
        </div>
    </div>
</div>