.idea
*.pyc
logs/*
!logs/.gitkeep
supervisord.pid
nohup.out
*.iml
/data
/logs
__pycache__
/.idea
.vscode
/tmp
/.python-version
venv
*.qms#
*.qms

templates/*
!templates

static/*
!static

node_modules
