.s1 {
  min-width: 1200px;
  height: 266px;
  background-image: url("../../img/people-teacher-index-s1-banner.png");
  background-repeat: no-repeat;
  background-size: 100% 266px;

  .title {
    color: white;
    line-height: 266px;
    text-align: center;
    font-size: 48px;
  }
}

.s2 {
  background-color: #f7f9fb;

  .title-box {
    text-align: center;

    .en-title {
      color: #f5f5f5;
      font-size: 160px;
    }

    .title {
      margin-top: -100px;
      font-size: 48px;
    }

    margin-bottom: 52px;
  }


  .inner {
    width: 1200px;
    margin: auto;
    border: 1px solid rgba(187, 187, 187, 100);
    background-color: white;
    padding: 42px 130px 200px 130px;

    .content {

      p {
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
        text-indent: 2em;
        margin-bottom: 5px;
        margin-left: 15px;
      }
      .title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 27px;
      }

      .subtitle {
        font-size: 24px;
        text-indent: 2em;
        font-weight: bold;
        margin-bottom: 7px;
      }

      .row {
        width: 939px;
        display: flex;
        align-items: center;

        p {
          width: 565px;
          margin-right: 28px;
        }

        img {
          width: 348px;
        }
      }
    }

  }
}
