<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "common/head.html" %}
</head>

<body>
<div class="total-main">
    {% include "common/topmenu.html" %}
    <div class="ss s1">
        <div class="inner">
            <div class="title">为每一个成员创造主动发展的无限空间</div>
        </div>
    </div>
    <div class="ss s2">
        <div class="inner">
            <div class="crumbs">
                <a href="/">首页</a> > <a href="/news">团队新闻</a> > 团队两名20级硕士研究生荣获研究生卓越奖学金
            </div>
            <div class="text-block">
                <div class="title">团队两名20级硕士研究生荣获研究生卓越奖学金</div>
                <div class="line"></div>
                <div class="time"><span class="time-icon"></span>2020/10/27 13:14</div>
                <div class="content">
                    <br/>
                    <img class="img img1" src="../../img/news-case1-s2-pic1.jpg"/>
                    <br/>
                    <br/>
                    <br/>
                    <p>
                        2020年10月27日，根据《武汉理工大学研究生奖学金管理办法》、《武汉理工大学物流学院研究生卓越奖学金评选细则》文件精神，
                        经物流学院研究生奖学金评审委员会审核评定，陈帅杰等3名博士研究生获得2020级博士研究生卓越奖学金，
                        程文燕等5名硕士研究生获得2020级硕士研究生卓越奖学金，公示名单如下：</p>
                    <p><b>2020级博士研究生</b>：陈帅杰、王玉平、郑倩倩</p>
                    <p><b>2020级硕士研究生</b>：程文燕、邱意、杨畅、殷菲、祁靖媛</p>
                    <p>其中复杂性科学与物流系统研究组内硕士两名：程文燕和殷菲。</p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <p style="text-indent: 0"> 新闻来源于：<br/>
                        <a href="http://sle.whut.edu.cn/xsgz/xgtz/202010/t20201028_467069.shtml" target="_blank">http://sle.whut.edu.cn/xsgz/xgtz/202010/t20201028_467069.shtml</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</div>
</body>
</html>