<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "common/head.html" %}
</head>

<body>
<div class="total-main">
    {% include "common/topmenu.html" %}
    <div class="ss s1">
        <div class="inner">
        </div>
    </div>
    <div class="ss s2">
        <div class="crumbs">
            <a href="/">首页</a> > <a href="/people">研究团队</a> > <a href="#">曹菁菁</a>
        </div>
        <div class="inner">
            <div class="img-box">
                <div class="img"></div>
                <div class="name">曹菁菁（副教授）</div>
                <div class="info">
                    <p>联系方式:bettycao@whut.edu.cn</p>
                    <p>研究方向：</p>
                    <p>
                        机器学习、人工智能、数据挖掘、物流系统需求预测、机械故障与缺陷检测、港口系统数字孪生</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content">
                <p>
                    曹菁菁
                    ，武汉理工大学副教授，硕导，香港城市大学计算机科学系博士。2018年至今，任物流系统科学与工程研究所书记。CCF普适计算专委会委员。物流教指委成员。主要从事机器学习、人工智能、数据挖掘、物流系统需求预测、机械故障与缺陷检测、港口系统数字孪生等研究方向。主持完成一项国家自然科学基金青年项目、一项武汉理工大学自主创新研究基金项目，参与多个国家自然科学青年、面上基金、科技部国际科技合作等项目。发表国际期刊和会议学术论文30余篇，发明专利授权2项，软著4项。担任Pattern
                    Recognition, IEEE Transactions on Industrial Informatics, Neurocomputing, Information Fusion,
                    Information
                    Sciences等国际期刊审稿人，被国际期刊Neurocomputing评为杰出审稿人。主讲《物流信息系统》、《智慧物流与数据挖掘》、《物流系统大数据与云计算》等课程。指导本科生、研究生开展科技创新创业，获得国家及省级奖励4项。</p>
                <div class="title">主要教学科研成果</div>
                <br/>
                <div class="subtitle">教学成果</div>
                <ul>
                    <li>武汉理工大学第十届青年教师教学竞赛一等奖，2020</li>
                    <li>中外运杯第七届全国大学生物流设计大赛校级一等奖，指导老师，2020</li>
                    <li>马钢杯第六届全国大学生物流设计大赛全国二等奖，指导老师，2019</li>
                    <li>校教学研究项目，2019</li>
                    <li>校青年教学名师，2019</li>
                    <li>校优秀女职工，2017</li>
                    <li>校青年教师演讲比赛三等奖，2017</li>
                    <li>武汉理工大学自主创新研究基金项目，指导老师，2017</li>
                    <li>国家级大学生创新创业训练计划项目，指导老师，2015，2016</li>
                </ul>
                <br/>
                <div class="subtitle">科研成果</div>
                <div style="font-size: 22px;font-weight: bold;margin-left: 34px">1.部分学术论文</div>
                <div class="subtitle"></div>
                <p>[1] Xiaodong Li, Jingjing Cao#, Zhaoqing Pan, Market impact analysis via deep learned architectures,
                    Neural Computing and Applications,31(10): 5989-6000 (2019)（SCI, IF =4.664）
                </p>
                <p>[2] Jingjing Cao, Wenfeng Li#, Congcong Ma, Zhiwen Tao, Optimizing multi-sensor deployment via
                    ensemble
                    pruning for wearable activity recognition, Information Fusion, 2018, 41(5): 68-79（SCI, IF = 13.669）
                </p>
                <p>[2] Yaohan Shen, Xianhao Xu, Jingjing Cao*, Reconciling predictive and interpretable performance in
                    repeat buyer prediction via model distillation and heterogeneous classifiers fusion. Neural
                    Computing
                    and Applications, 32 (13): 9495-9508 (2020)（SCI, IF =4.664）
                </p>
                <p>[3] Jingjing Cao, Sam Kwong#, Ran Wang, Xiaodong Li, Ke Li, Xiangfei Kong, Class-specific soft voting
                    based multiple extreme learning machines ensemble, Neurocomputing, 2015, 149: 275-284 （SCI, IF =
                    4.438）
                </p>
                <p>[4] Jingjing Cao, Sam Kwong#, Ran Wang, A noise-detection based Adaboost algorithm for mislabeled
                    data,
                    Pattern Recognition, 2012, 5(12): 4451-4465（SCI, IF = 7.196）
                </p>
                <p>[5] Congcong Ma, Wenfeng Li#, Jingjing Cao, Juan Du, Qimeng Li, Raffaele Gravina, Adaptive sliding
                    window based activity recognition for assisted livings, Information Fusion, 2020, 53: 55-65（SCI, IF
                    =
                    13.669）
                </p>
                <p>[6] Shizhen Zhao, Wenfeng Li#, Jingjing Cao, A User-adaptive Algorithm for Activity Recognition based
                    on
                    K-Means Clustering, Local Outlier Factor, and Multivariate Gaussian Distribution, Sensors, 2018,
                    18(6):1850 （SCI, IF = 3.275）
                </p>
                <p>[7] Congcong Ma, Wenfeng Li#, Raffaele Gravina, Jingjing Cao, Qimeng Li, Giancarlo Fortino, Activity
                    Level Assessment Using a Smart Cushion for People with a Sedentary Lifestyle, Sensors, 2017,
                    17(10):2269（SCI, IF = 3.275）
                </p>
                <p>[8] Xiaodong Li, Haoran Xie, Ran Wang, Yi Cai#, Jingjing Cao, Feng Wang, Huaqing Min, Xiaotie Deng,
                    Empirical Analysis: Stock Market Prediction via Extreme Learning Machine, Neural Computing and
                    Applications, 2016, 27(1):67-78 （SCI, IF = 4.664）
                </p>
                <p>[9] Xiangfei Kong, Kuan Li, Jingjing Cao, Qingxiong Yang, Liu Wenyin#, HEp-2 Cell Pattern
                    Classification
                    with Discriminative Dictionary Learning, Pattern Recognition, 2014, 47(7): 2379-2388 （SCI, IF
                    =7.196）
                </p>
                <p>[10] Ran Wang, Sam Kwong#, Degang Chen, Jingjing Cao, A Vector-valued SVM Model for Multiclass
                    Problem,
                    Information Sciences, 2013. 235: 174-194 （SCI, IF = 5.910）
                </p>
                <p>[11] Hao Gao, Sam Kwong#, Jijiang Yang, Jingjing Cao, Particle swarm optimization based on
                    intermediate
                    disturbance strategy algorithm and its application into multi-threshold image segmentation,
                    Information
                    Sciences, 2013, 250: 82-112（SCI, IF = 5.910）
                </p>
                <p>[12] Ke Li, Sam Kwong#, Jingjing Cao, Miqing Li, Jinhua Zheng, Ruimin Shen, Achieving Balance between
                    Proximity and Diversity in Multi-objective Evolutionary Algorithm, Information Sciences, 2012, 182
                    (1):
                    220-242（SCI, IF = 5.910）
                </p>
                <br/>
                <div style="font-size: 22px;font-weight: bold;margin-left: 34px">2.部分科研项目</div>
                <br/>
                <ul>
                    <li>2021/01-2021/04，企业项目：智慧营销场景标准化体系可行性研究，主持。</li>
                    <li>2020/10-2020/11，企业项目：港口绿色发展及节能减排措施研究，主持。</li>
                    <li>2020/04-2020/09，企业项目：全球港口科技应用现状与发展建议，主要参与。</li>
                    <li>2020/01-2022/12，国家自然科学基金 国际（地区）合作与交流项目：自动无线接入网络切片的资源分配与准入控制，主要参与。</li>
                    <li>2018/05-2019/05，河南省机械装备智能制造重点实验室开放项目：工业物联网环境下群集协同方法研究，主持。</li>
                    <li>2017/01-2019/12，国家自然科学基金青年项目：集成超网络和突变论的移动商务价值链孵化模拟研究，主要参与。</li>
                    <li>2017/01-2020/12，国家自然科学基金面上项目：无线通信系统中基于多臂机理论的资源优化分配机制研究，主要参与。</li>
                    <li>2016/01-2018/12，国家自然科学基金青年项目：基于集成学习的多传感器选择和在线人体行为识别研究，主持。</li>
                    <li>2014/01-2015/12，武汉理工大学自主创新研究基金项目：基于噪声检测的多分类AdaBoost算法，主持。</li>
                    <li>2013/01-2016/12，国家自然科学基金面上项目：多视点视频编码中的资源分配与目标决策相关理论研究，主要参与。</li>
                </ul>
                <div class="title">国际会议项目委员会成员</div>
                <ul>
                    <li>2020 International Conference on Neural Computing for Advanced Applications(NCAA’20)</li>
                    <li>The 16th IEEE International Conference on Ubiquitous Intelligence and Computing(UIC’19)</li>
                    <li>The 11th International Conference on Internet and Distributed Computing Systems (IDCS’18)</li>
                    <li>The 15th IEEE International Conference on Ubiquitous Intelligence and Computing (UIC’18)</li>
                    <li>2018 International Conference on Machine Learning and Cybernetics (ICMLC’18)</li>
                    <li>2015 International Conference on Machine Learning and Cybernetics (ICMLC’15)</li>
                    <li>9th International Conference on Internet and Distributed Computing Systems (IDCS’16)</li>
                    <li>The 8th International Conference on Internet and Distributed Computing Systems (IDCS’15)</li>
                </ul>
                <div class="title">期刊审稿人</div>
                <ul>
                    <li> IEEE Transactions on Industrial Informatics (TII)</li>
                    <li> Pattern Recognition (PR)</li>
                    <li> Neurocomputing (NC) (Outstanding Reviewer)</li>
                    <li> Information Fusion (IF)</li>
                    <li> Information Sciences (IS)</li>
                    <li> International Journal of Machine Learning and Cybernetics (IJMLC)</li>
                    <li> Neural Computing and Applications (NCAA)</li>
                    <li> NEURAL PROCESSING LETTERS</li>
                </ul>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</div>
</body>
</html>