<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "common/head.html" %}
</head>

<body>
<div class="total-main">
    {% include "common/topmenu.html" %}
    <div class="ss s1">
        <div class="inner">
        </div>
    </div>
    <div class="ss s2">
        <div class="crumbs">
            <a href="/">首页</a> > <a href="/people">研究团队</a> > <a href="#">秦虎</a>
        </div>
        <div class="inner">
            <div class="img-box">
                <div class="img"></div>
                <div class="name">秦虎（教授）</div>
                <div class="info">
                    <p>联系方式: tigerqin1980@qq.com</p>
                    <p>研究方向：</p>
                    <p>
                        人工智能优化算法、网络规划、车
                        辆路径优化、智能物流、智能仓
                        储、数据挖掘及机器学习</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content">
                <p>
                    秦虎，2002、2005年在华中科技大学人工智能与自动化学院获得学士、硕士学位，2011年在香港城市大学商学院获得博士学位。2011年加入华中科技大学管理学院，2012年11月、2017年11月分别被聘为华中科技大学副教授、教授。主要研究领域包括人工智能优化算法，网络规划，车辆路径优化，智能物流，智能仓储，智能制造，数据挖掘及机器学习等。
                </p>
                <ul>
                    <li>已完成国家自科基金项目2项，正在主持1项国家自科基金面上项目，参与国家自科基金国际合作重点
                        项目2项，国家自科基金重点项目1项，国家社科基金重大项目1项，国家科技部重点研发计划重点专项2项，国家自然科学基金创新研究群体项目1项。
                    </li>
                    <li>已完成国家自科基金项目2项，正在主持1项国家自科基金面上项目，参与国家自科基金国际合作重点
                        项目2项，国家自科基金重点项目1项，国家社科基金重大项目1项，国家科技部重点研发计划重点专项2项，国家自然科学基金创新研究群体项目1项。
                    </li>
                    <li>已完成国家自科基金项目2项，正在主持1项国家自科基金面上项目，参与国家自科基金国际合作重点
                        项目2项，国家自科基金重点项目1项，国家社科基金重大项目1项，国家科技部重点研发计划重点专项2项，国家自然科学基金创新研究群体项目1项。
                    </li>
                    <li>自2015-2019年担任物流系统工程专业委员会委员，自2016年起担任管理系统工程学会秘书长</li>
                    <li>2018年10月18日，获得京东全球运筹优化挑战赛（城市物流运输车辆智能调度）总冠军。</li>
                    <li>微信公众号“数据魔术师”创始人、负责人，关注读者超4.8万人。</li>
                    <li>
                        参与开发车辆路径问题算法库及求解器。基于京东全球运筹优化挑战赛的代码，采用模块化设计，用户通过简单的调用就可以实现一个高效的车辆路径问题算法，同时提供丰富的接口支持用户进行二次开发。目前该算法包具有以下特性：
                    </li>
                </ul>
                <br/>
                <p style="margin-left: 80px;">a）支持多种配送模式、约束条件和目标函数，包括：</p>
                <p style="margin-left: 80px;">常规配送模式，取货送货模式（Pickup and Delivery）， 需求可拆分（Split-Demand），多车型（Heterogeneous
                    Vehicle），多仓库（Multi-Depot）， 多行程（Multiple-Trip），容量约束（Capacity Constraint），时间窗约束（Time Windows
                    Constraint），工作时长约束（Duration Constraint），顾客分区访问，多时间窗（Multiple Time
                    Windows），车辆行驶速度受交通的影响（Time-Dependent Travel Time），三维装箱（3D Bin
                    Packing），最小化车辆数目，最小化车辆固定成本，最小化行驶距离，最大化收益（不要求每个节点必须访问）</p>
                <p style="margin-left: 80px;text-indent: 2em">上述的配送模式、约束条件和目标函数可以任意组合。</p>
                <p style="margin-left: 80px;">b)支持多线程并发，既适用于计算时间要求苛刻的业务场景，也适用计算时间要求相对宽松但追求高质量解的业务场景。</p>
                <p style="margin-left: 80px;">c)支持二次开发，只需要实现给定的接口就可以轻松处理新的约束和目标函数。</p>
                <br/>
                <div class="title">企业横向项目<span style="font-size: 20px;font-weight: normal">（有合同或参与证明）</span></div>
                <p>1.“药品多模式混合配送优化”，北京泰德制药股份有限公司，2020年3月-5月，项目负责人。</p>
                <p>2.“城市配送路径优化”，上海科箭软件科技有限公司，2019年12月1日-2020年3月31日，项目负责人。</p>
                <p>3.“美的集团智能调度算法服务合作项目”，广东美的制冷设备有限公司，2019年11月-2020年3月，项目负责人。</p>
                <p>4.“蓝月亮工厂调配自动化排产校企合作项目”，广州蓝月亮实业有限公司，2019年7月-2019年9月，项目负责人。</p>
                <p>5.“三维装载与车辆路径规划算法合作项目”，华为技术有限公司，2019年7月-2020年6月，项目负责人。</p>
                <p>6.“消费者数字化”，湖南中烟工业有限责任公司, 2019年1月 - 至今，项目参与人。</p>
                <p>7.“广州宝洁有限公司产品供应部牙膏搅拌自动排产系统可行性研究”, 广州宝洁有限公司， 2018年5月-2018年9月，项目负责人。</p>
                <p>8.“北斗车辆实时称重监管方法和应用研究”，深圳市城市管理监督指挥中心，2017年5月—2017年11月，子项目负责人。</p>
                <p>9.“基于数字城管案件的大数据分析和智慧决策的研究”，深圳市城市管理监督指挥中心，2016年5月—2016年11月，项目负责人。</p>
                <p>10.“电力通信可靠性管理系统接口与部署优化问题”，武汉大学， 2014年5月-12月，项目负责人。</p>
                <p>11.“单程干线运输优化”，顺丰速运有限公司，2014年3月-2014年10月，项目负责人。</p>
                <div class="title">国家纵向项目</div>
                <p> 1.“快递公司干线运输中的优化问题研究”，国家自然科学基金面上项目，基金号：71971090,
                    金额：50万，2019年8月16日批准，2020年1月-2023年12月，项目负责人。</p>
                <p>
                    2.“智能生产线虚拟重构理论与技术”，国家科技部重点研发计划重点专项，基金号：2018YFB1700600，项目总金额：1500万，子项目金额：43.47万，2018年12月批准，子任务负责人。</p>
                <p>
                    3.“管理系统工程”，国家自然科学基金创新研究群体项目，基金号：71821001，金额：735万，2018年8月批准，2019年1月-2024年12月，参与人。</p>
                <p>
                    4.“基于大数据驱动的在线零售商的物流管理与决策的理论和方法研究”，国家自然科学基金国际(地区)合作与交流项目，基金号：71620107002，金额：188万，2016年8月批准，2017年1月-2021年12月，参与人。</p>
                <p style="margin-left: 40px"> 5.“信息网络技术驱动中国制造业转型战略、路径与支撑体系研究”, 国家社会科学基金重大项目, 基金号:
                    16ZDA013，金额：80万，2016年12月批准，2017年1月 - 2021年12月，参与人。</p>
                <p> 6.“考虑协同的车辆路径优化问题研究”，国家自然科学基金面上项目，基金号：71571077,
                    金额：49.3，2015年8月批准，2016年1月-2019年12月，项目负责人。</p>
                <p>
                    7.“电动汽车运营机制设计与管理优化问题研究”，国家自然科学基金（国际合作项目），基金号：71320107001，金额：207万，2013年8月批准，2014年1月-2018年12月，参与人。</p>
                <p>
                    8.“社会化商务商业模式创新的理论与方法研究”，国家自然科学基金(重点项目)，基金号：71332001，金额：206万，2013年8月批准，2014年1月-2018年12月，参与人。</p>
                <p> 9.“中国航空乘务员调度优化问题研究”, 华中科技大学自主创新研究基金，基金号：2014QN206，金额：4万，2014年3月批准，2014年6月
                    - 2015年12月，项目负责人。</p>
                <p>
                    10.“计重收费策略下的复杂车辆路径问题研究”，国家自然科学基金（青年项目），基金号：71201065，金额：21万，2012年8月批准，2013年1月-2015年12月，项目负责人。</p>
                <p> 11.“货物拼箱和装箱问题研究”，华中科技大学自主创新研究基金，基金号：2012QN213，金额：5万，2012年4月批准，2012年5月 -
                    2013年12月，项目负责人。</p>
                <div class="title">发表或接受的英文期刊论文<span style="font-weight: normal;font-size: 20px">（*表示通讯作者）</span></div>
                <div class="subtitle">·智能物流</div>
                <p>[1] "A General Multiple Depot Vehicle Scheduling Problem", Jiliu Li, Hu Qin, Huaxiao Shen, Xialiang Tong and Zhou Xu, Transportation Research Part E, December 2020, Major revision.</p>
                <p>[2] "The Multi-Trip Vehicle Routing Problem with Time Windows and Unloading Queue at Depot", Nan Huang, Jiliu Li, Wenbin Zhu and Hu Qin*, Transportation Research Part E, March 2021, Minor revision.</p>
                <p>[3] "A Simulation Based Meta-heuristic Approach for the Inbound Container Housekeeping Problem in the Automatic Container Terminals”，Hu Qin, Xinxin Su, Guoxin Li, Xin Jin* and Mingzhu Yu, Maritime Policy & Management, March 2021, accepted.</p>
                <p>[4] "A Review on the Electric Vehicle Routing Problems: Variants and  Algorithms", Hu Qin, Xinxin Su (my Ph.D. student), Teng Ren, Zhixing Luo*, Frontiers of Engineering Management, February 2021, accepted.</p>
                <p>[5] "Planning of Garbage Collection Service: An Arc-Routing  Problem With Time-Dependent Penalty Cost", Xin Jin (my Ph.D. student), Hu Qin, Zizhen Zhang*, MengChu Zhou, Jiahai Wang, IEEE Transactions on Intelligent Transportation Systems, February 2020, accepted.</p>
                <p>[6] "Branch-and-Price-and-Cut for the Synchronized Vehicle Routing Problem with  Split Delivery, Proportional Service Time and Multiple Time Windows", Jiliu Li (my Ph.D. student), Hu Qin*, Roberto Baldacci, Wenbin Zhu, Transportation Research Part E, Volume 140，August 2020，101955.</p>
                <p>[7] "An Exact Algorithm for the Multi-Period Inspector Scheduling Problem”, Huaxiao Shen, Shengnan Shu, Hu Qin, Qinghua Wu, Computers & Industrial Engineering, Volume 145, July 2020, 106515.</p>
                <p>[8] "Multi-objective Optimization for the Vehicle Routing Problem with Outsourcing and Profit Balancing", Zizhen Zhang, Hu Qin, Yanzhi Li*， IEEE Transactions on Intelligent Transportation Systems, Volume 21, Issue 5, May 2020, Pages 1987 - 2001.</p>
                <p>[9] "The Split-Delivery Mixed Capacitated Arc-Routing Problem: Applications and a Forest-based Tabu Search Approach", Mingzhu Yu, Xin Jin (my Ph.D. student), Zizhen Zhang∗, Hu Qin, Qidong Lai, Transportation Research Part E, Volume 132, December 2019, Pages 141-162.</p>
                <p>[10] "The Unilateral Transportation Problem”, Jiliu Li (my Ph.D. student), Hu Qin, Huaxiao Shen* and Kwok Leung Tsui, Transportation Research Part E, Volume 132, December 2019, Pages 1-29.</p>
                <p>[11] "Exact Algorithms for the Vehicle Routing Problem with Time Windows and Combinatorial Auction", Zhenzhen Zhang, Zhixing Luo*, Hu Qin and Andrew Lim, Transportation Science, Volume 53, Issue 2, March-April 2019, Pages 319 – 622.</p>
                <p>[12] "A Branch-and-cut Algorithm for the Two-echelon Capacitated Vehicle Routing Problem with Grouping Constraints", Tian Liu, Zhixing Luo*, Hu Qin and Andrew Lim, European Journal of Operational Research, Volume 266, Issue 2, 16 April 2018, Pages 487-497.</p>
                <p>[13] "Manpower Allocation and Vehicle Routing Problem in Non-emergency Ambulance Transfer Service", Zizhen Zhang, Hu Qin, Kai Wang*, Huang He and Tian Liu, Transportation Research Part E, Volume 106, October 2017, Pages 45-59.</p>
                <p>[14] "A Branch-and-Price Algorithm for the Two-dimensional Vector Packing Problem with Piecewise Linear Cost Function", Qian Hu, Wenbin Zhu*, Hu Qin and Andrew Lim, European Journal of Operational Research, Volume 260, Issue 1, 1 July 2017, Pages 70-80.</p>
                <p>[15] "Branch-and-price-and-cut for the Split-delivery Vehicle Routing Problem with Time Windows and Linear Weight-related Cost", Zhixing Luo, Hu Qin*, Wenbin Zhu and Andrew Lim, Transportation Science, Volume 51, Issue 2, May 2017, Pages 668-687.</p>
                <p>[16] "Pickup and Delivery Service with Manpower Planning in Hong Kong Public Hospitals", Andrew Lim, Zhenzhen Zhang* and Hu Qin, Transportation Science, Volume 51, Issue 2, May 2017, Pages 688-705.</p>
                <p>[17] "Branch-and-Price-and-Cut for the Manpower Routing Problem with Synchronization Constraints", Zhixing Luo, Hu Qin*, Wenbin Zhu and "Andrew Lim, Naval Research Logistics, Volume 63, Issue 2, March 2016, Pages 138 - 171.</p>
                <p>[18] "An Efficient Intelligent Search Algorithm for the Two-dimensional Rectangular Strip Packing Problem", Lijun Wei, Hu Qin*, Brenda Cheang and Xianhao Xu, International Transactions in Operational Research, Volume 23, Issue 1-2, January-March, 2016, Pages 65 - 92.</p>
                <p>[19] "Adaptive Large Neighborhood Search Heuristics for the Vehicle Routing Problem with Stochastic Demands and Weight-related Cost", Zhizing Luo, Hu Qin*, Dezhi Zhang and Andrew Lim, Transportation Research Part E: Logistics and Transportation Review, Volume 85, January 2016, Pages 69 - 89.</p>
                <p>[20] "A Study of Perturbation Operators for the Pickup and Delivery Traveling Salesman Problem with LIFO or FIFO Loading", Lijun Wei, Hu Qin, Wenbin Zhu, Long Wan, Journal of Heuristics, Volume 21, Issue 5, October 2015, Pages 617-639.</p>
                <p>[21] "A Tabu Search Algorithm for the Multi-period Inspector Scheduling Problem", Hu Qin, Wei Ming, Zizhen Zhang*, Yubin Xie, Andrew Lim, Computers & Operations Research, Volume 59, July 2015, Pages 78–93.</p>
                <p>[22] "On Service Consistency in Multi-period Vehicle Routing", Zhixing Luo, Hu Qin*, Andrew Lim, Chanhou Che, European Journal of Operational Research, Volume 243, Issue 3, 16 June 2015, Pages 731–744.</p>
                <p>[23] "Branch-and-Price-and-Cut for the Multiple Traveling Repairman Problem with Distance Constraints", Zhixin Luo, Hu Qin*, Lim Andrew, European Journal of Operational Research, Volume 234, Issue 1, 1 April 2014, Pages 49–60.</p>
                <p>[24] "The Freight Consolidation and Containerization Problem", Hu Qin, Andrew Lim and Zizhen Zhang*, European Journal of Operational Research, Volume 234, Issue 1, 1 April 2014, Pages 37–48.</p>
                <p>[25] "A Memetic Algorithm for the Capacitated m-Ring-Star Problem", Zizhen Zhang, Hu Qin and Andrew Lim, Applied Intelligence, Volume 40, Issue 2, 2014, Pages 305 - 321.</p>
                <p>[26] "A Memetic Algorithm for the Multiperiod Vehicle Routing Problem with Profit", Zizhen Zhang, Oscar Che, Brenda Cheang, Andrew Lim, Hu Qin*, European Journal of Operational Research, Volume 229, Issue 3, 16 September 2013, Pages 573–584.</p>
                <p>[27] "Multiple Pickup and Delivery Traveling Salesman Problem with Last-in-first-out Loading and Distance Constraints", Brenda Cheung, Xiang Gao, Andrew Lim, Hu Qin* and Wenbin Zhu, European Journal of Operational Research, Volume 223, Issue 1, 16 November 2012, Pages 60-75.</p>
                <p>[28] "Iterative Deepening A* Algorithms for the Container Relocation Problem", Zhu, Wenbin, Qin, Hu*, Lim, Andrew and Zhang, Huidong, IEEE Transactions on Automation Science and Engineering, Volume 9, Issue 4, October 2012, Pages 710-722.</p>
                <p>[29] "Two-stage Tabu Search Algorithm with Enhanced Packing Heuristics for the 3L-CVRP and M3L-CVRP”, Wenbin Zhu, Hu Qin*, Andrew Lim and Lei Wang, Computers & Operations Research, Volume 39, Issue 9, September 2012, Pages 2178 - 2195.</p>
                <p>[30] "The Freight Allocation Problem with All-units Quantity-based Discount: A heuristic algorithm", Hu Qin, Meifeng Luo*, Xiang Gao and Andrew Lim, Omega—The International Journal of Management Science, Volume 40, Issue 4, August 2012, Pages 415-423.</p>
                <p>[31] "The Single Vehicle Routing Problem with Toll-by-Weight Scheme: a Branch and Bound Approach", Zizhen Zhang, Hu Qin*, Wenbin Zhu, Andrew Lim, European Journal of Operational Research, Volume 220, Issue 2, 16 July 2012, Pages 295–304 .</p>
                <p>[32] "The Freight Allocation Problem with Lane Cost Balancing Constraint” Andrew Lim, Hu Qin* and Zhou Xu, European Journal of Operational Research, Volume 217, Issue 1, 16 February 2012, Pages 26-35.</p>
                <p>[33] "The Tree Representation for the Pickup and Delivery Traveling Salesman Problem with LIFO Loading",Yongquan Li, Andrew Lim, Wee-Chong Oon, Hu Qin*, Dejian Tu, European Journalof Operational Research, Volume 212, Issue 3, 1 August 2011,Pages 482-496.</p>
                <div class="subtitle">·智能制造</div>
                <p>[1] "Integrated Production and Distribution Scheduling in Distributed Hybrid Flow Shops", Hu Qin, Tao Li, Yi Teng, Kai Wang, Memetic Computing, Major revision, December 2020.</p>
                <p>[2] "Coordinated Scheduling of Production and Transportation in a Two-Stage Assembly Flowshop", K. WANG, W.Q MA, H. LUO, Hu QIN, International Journal of Production Research, Volume 54, Issue 22，2016, Pages 6891 - 6911.</p>
                <p>[3] "A Fuzzy Logic-based Hybrid Estimation of Distribution Algorithm for Distributed Permutation Flowshop Scheduling Problems Under Machine Breakdown", Kai Wang, Yun Huang and Hu Qin, Journal of the Operational Research Society, Volume 67,Issue 1, 2016, Pages 68 - 82.</p>
                <p>[4] "An Estimation of Distribution Algorithm for Hybrid Flow Shop Scheduling under Stochastic Processing Times", Kai Wang*;  S.H., Choi and Hu Qin, International Journal of Production Research, Volume 52, Issue 24, 2014, Pages 7360–7376.</p>
                <p>[5] "A Cluster-based Scheduling Model Using SPT and SA for Dynamic Hybrid Flow Shop Problems”, Kai Wang, Shiu Hong Choi, Hu Qin, Yun Huang, The International Journal of Advanced Manufacturing Technology, Volume 67, Issue 9-12, August 2013, Pages 2243-2258.</p>
                <div class="subtitle">·智能仓储</div>
                <p>[1] "Orders to Workstations Assignment Rules in Robotic Sorting Systems", Bipan Zou, Shuang Xiao, Hu Qin*, International Journal of Production Research, submitted, March 2020.</p>
                <p>[2] "Travel Time Analysis of the Dual Command Cycle in the Split-platform AS/RS with I/O Dwell Point Policy", Tian Liu, Xianhao Xu, Hu Qin and Andrew Lim, Flexible Services and Manufacturing Journal, Volume 28, Issue 3, September 2016, Pages 442-460.</p>
                <div class="subtitle">·其他</div>
                <p>[1] "Surgery Scheduling in Outpatient Procedure Centre with Re-entrant Patient Flow and Fuzzy Service Times”，Kai Wang, Hu Qin, Yun Huang, Mengwen Luo and Lei Zhou, Omega, forthcoming, October 2020.</p>
                <p>[2] "A Branch-and-Price-and-Cut Algorithm for the Cable Routing Problem in Solar Power Plants", Zhixing Luo, Hu Qin,  T.C.E. Cheng, Qinghua Wu*, Andrew Lim, Submitted to INFORMS Journal On Computing, forthcoming, August 2019.</p>
                <p>[3] "An Enhanced Branch-and-bound Algorithm for the Talent Scheduling Problem", Hu Qin, Zizhen Zhang∗, Andrew Lim, Xiaocong Liang, European Journal of Operational Research, Volume 250, Issue 2, 16 April 2016, Pages 412 - 426.</p>
                <p>[4] "A Tabu Search Algorithm for the Power System Islanding Problem", Fei Tang , Huizhi Zhou, QinghuaWu*, Hu Qin, Jun Jia and Ke Guo, Energies, Volume 8, Issue 10, 2015, Pages 11315 - 11341.</p>
                <p>[5] "Example-based Learning Particle Swarm Optimization for Continuous Optimization", Han Huang*, Hu Qin, Zhifeng Hao and Andrew Lim, Information Sciences, Volume 182, Issue 1, 1 January 2012, Pages 125-138.</p>
                <div class="title">发表或接受的会议论文</div>
                <div class="subtitle">·智能物流</div>
                <p>[1] "Forest-based Tabu Search to the Split-delivery Capacitated Arc-routing Problem”，Qidong Lai , Zizhen Zhang, Xin Jin, Hu Qin, 2018 IEEE 14th International Conference on Automation Science and Engineering (CASE), 20-24 Aug. 2018 Munich, Germany.</p>
                <p>[2] "An Efficient Forest-based Tabu Search Algorithm for the Split-delivery Vehicle Routing Problem", Zizhen Zhang, Huang He, Zhixing Luo, Hu Qin and Songshan Guo, the Twenty-Ninth AAAI Conference on Artificial Intelligence (AAAI-15), January 25–30, 2015 Austin, Texas, USA.</p>
                <p>[3] "A Tree-based Tabu Search for the Manpower Allocation Problem with Time Windows and Job-Teaming Constraints", Yilin Cai, Zizhen Zhang, Songshan Guo, Hu Qin, Andrew Lim, 23rd International Joint Conference on Artificial Intelligence (IJCAI 2013), August 3-9, 2013, Beijing, China.</p>
                <p>[4] "The Tree Representation of Feasible Solutions for the TSP with Pickup and Delivery and LIFO Loading", Dejian Tu, Songshan Guo, Hu Qin, Wee-Chong Oon, Andrew Lim, the Twenty-Fourth AAAI Conference on Artificial Intelligence (AAAI-10), July 11–15, 2010 in Atlanta, Georgia, USA).</p>
                <div class="title">发表或接受的中文期刊论文<span class="">（*表示通讯作者）</span></div>
                <p>[1] 相容性约束的车辆路径问题及其混合蚁群算法，余良，秦虎*，《重庆师范大学学报(自然科学版)》，2018年，第35卷，第2期，页码1-9。</p>
                <p>[2] 禁忌搜索算法求解带时间窗和多配送人员的车辆路径问，苏欣欣，秦虎*，王恺，《重庆师范大学学报(自然科学版)》，2020年，第37卷，第1期，页码22-30。</p>
                <p>[3] 混合启发式算法求解多配送人员车辆路径问题， 苏欣欣, 王红卫, 秦虎*， 王恺, 《运筹与管理》</p>
                <div class="title">专利</div>
                <p>[1] CP120010460E-一种自动化集装箱码头出口箱空间分配方法，专利申请已被受理。</p>
                <p>[2] 一种基于强化学习的三维装载的方法和装置，专利申请已被受理。</p>
                <div class="title">讲授课程</div>
                <p>• 本科生课程《运筹学I》</p>
                <p>• 学术型硕士生课程《最优化理论与方法》，《运筹学II》</p>
                <p>• MBA课程《优化方法企业实践》</p>
                <div class="title">兼职</div>
                <p>• 中国工程院院刊《工程管理前沿》官方微信公众号负责人，2018年8月 - 目前</p>
                <p>• 中国系统工程学会物流系统工程专业委员会委员，2015年9月 - 2019年9月</p>
                <p>• 管理科学与工程学会管理系统工程分会秘书长，2016年12月 – 目前</p>
                <p>• 中国物流学会常务理事，2019年11月-目前</p>
                <p>• 中国系统工程学会智能制造系统工程专业委员会委员，2019年5月 - 目前</p>
                <p>• 中国仿真学会智能仿真优化与调度专业委员会委员,2020年10月-目前</p>
                <div class="title">荣誉获奖</div>
                <p>1.“三维装载与车辆路径规划算法合作项目”荣获华为诺亚方舟实验室优秀高校合作项目奖，2020年。</p>
                <p>2. 学术论文《Integrated Production and Distribution Scheduling in Distributed Hybrid Flow Shops》荣获2020年第三届智能优化与调度学术会议优秀论文二等奖，作者为：秦虎，李涛，滕毅，王恺。</p>
                <p>3. 华中大-科箭人工智能研究中心开发的“智能运输优化系统（Power TOS）” 荣获2020年第三届智能优化与调度学术会议最佳创新实践奖。</p>
                <div class="title">学生培养</div>
                <p>1. 2020年美国大学生数学建模竞赛，二等奖（Honorable Mention），参赛学生：周航（华中科技大学管理学院2019级本科生），陈延康，董超（华中科技大学管理学院2017级本科生）。</p>
                <p>2. 2020年美国大学生数学建模竞赛，二等奖（Honorable Mention），参赛学生：任伟涛，陈俞丞，谢俊杰（华中科技大学管理学院2017级本科生）。</p>
                <p>3. 2020年第十一届中国大学生服务外包创新创业大赛，企业命题类区域赛华中赛区一等奖，全国赛区二等奖，参赛学生：邓发珩，高昕迪，贾鑫悦，周航，任伟涛。</p>
                <p>4. 2020年全国大学生电子商务“创新、创意及创业”挑战赛，华中科技大学校赛第一名，湖北省赛二等奖，参赛学生：邓发珩，高昕迪，贾鑫悦，向柯伟，李奕潇。</p>
                <p>5. 2020年第十一届“求是杯”大学生创业计划竞赛，华中科技大学校赛优秀奖，参赛学生：邓发珩，高昕迪，贾鑫悦，李超逸，张榕，欧阳航，周文豪，王雪榕。</p>
                <p>6. 2020年2020阿里云数智服务创新挑战赛—服务调度比赛，第8名（1381支队伍参赛），参赛学生：邓发珩（华中科技大学管理学院2017级本科生），周航（华中科技大学管理学院2019级本科生）等。</p>
                <div class="title">联系方式</div>
                <p>• 微信号：43340630</p>
                <p>• 电子邮箱：tigerqin1980@qq.com</p>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</div>
</body>
</html>