<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "common/head.html" %}
</head>

<body>
<div class="total-main">
    {% include "common/topmenu.html" %}
    <div class="ss s1">
        <div class="inner">
        </div>
    </div>
    <div class="ss s2">
        <div class="crumbs">
            <a href="/">首页</a> > <a href="/people">研究团队</a> > <a href="#">曹菁菁</a>
        </div>
        <div class="inner">
            <div class="img-box">
                <div class="img"></div>
                <div class="name">王宇（副教授）</div>
                <div class="info">
                    <p>联系方式: ywang95@xjtu.edu.cn</p>
                    <p>研究方向：</p>
                    <p>
                        数据驱动方法、可靠性建模、智能诊断、预测与健康管理</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content">
                <p>
                    王宇，副教授，博士生导师，2014年2月获得香港城市大学系统工程及工程管理学系博士学位。2015年获得上银优秀博士论文奖。担任SCI期刊 IEEE
                    Access副主编，美国IEEE高级会员，中国振动工程学会故障诊断分会理事。长期致力于故障预测与健康管理（PHM）方面研究，主持和参加包括国家自然科学基金重点项目课题等近20项。主持开发了PHM软件已应用于航天测量船天线状态监测与华为数据中心健康监测与寿命预测。相关成果已发表高水平论文40余篇，申请国家发明专利10余项。
                </p>
                <div class="title">工作经历</div>
                <p>• 2014.06 – 至今，西安交通大学，讲师, 副教授（博导）      </p>
                <p>• 2016.12 – 2018.01，加州大学伯克利分校，访问学者     </p>
                <p>• 2013.10 – 2014.02，香港城市大学电子工程系，研究助理   </p>
                <div class="title">学术任职</div>
                <p>• 2018.12 – 至今，IEEE Access期刊 副主编 （JCR一区， IF： 3.745）</p>
                <p>• 2018.08 – 至今，IEEE 高级会员 （遴选10%）     </p>
                <p>• 2015.01 – 至今，国家自然科学基金评审专家，国家科技专家库专家</p>
                <p>• 2014.08 – 至今，中国振动工程学会故障诊断专业委员会理事</p>
                <p>• 2014.06 – 至今，国际著名期刊审稿专家, 包括IEEE Transactions on Industrial Electronics (IF: 7.5),
                IEEE Transactions on Industrial Informatics (IF:9.12), Mechanical
                    System and Signal Processing (MSSP, IF: 6.47)等</p>
                <div class="title">获奖情况</div>
                <p>• 2015年中国机械工程学会，上银优秀博士论文（全国20篇左右/年）</p>
                <div class="title">主持及参加科研项目</div>
                <p>1.主持：国家自然科学基金面上项目：“多物理场作用下激光热辅助磁存储头盘界面动力学特性与磨损研究”（编号：51875437）；2019.01-2022.12</p>
                <p>2.主持：国家自然科学基金青年基金项目：“云存储硬盘亚纳米级头盘界面的失效机理和可靠性预测技术”（编号：51405380）；2015.01-2017.12</p>
                <p>3.主持：横向合作课题华为技术有限公司：“硬盘故障预测研究技术合作项目”2017.1-2018.9</p>
                <p>4.参加骨干：国家自然科学基金重点项目：“关键设备故障预示与运行安全保障新理论和新技术”（编号：51035007）；2010.1-2014.12</p>
                <p>5.参加骨干：国家自然科学基金重点项目：“大型船舶动力系统故障预测理论与健康管理技术”（编号：61633001）；2017.1-2021.12</p>
                <p>6.参加骨干：国家重点研发计划：“机电类特种设备风险防控与治理基础理论与共性关键” （编号：2017YFC0805701）；2017.1-2020.12</p>
                <div class="title">代表性研究成果</div>
                <p>[1] Y. Wang, Y. Peng, Y. Z, X. Jin, K. L. Tsui, “A Two-stage Data-driven Based Prognostic Approach for Bearing Degradation Problem,” IEEE Transactions on Industrial Informatics (JCR一区，IF:9.112, 12(3): 924~932), 2016. (高被引论文)</p>
                <p>[2] Y. Peng, Y. Wang (通讯作者), and Y. Zi, “Switching state-space degradation model with recursive filter/smoother for prognostics of remaining useful life,” IEEE Transactions on Industrial Informatics (JCR一区，IF:9.112), 2019. </p>
                <p>[3] Y. Wang, E. W. M. Ma, T. W.S. Chow, and K. L. Tsui, “A two-step parametric method for failure prediction in hard disk drives,” IEEE Transactions on Industrial Informatics (JCR一区，IF:9.112), 2014.</p>
                <p>[4] Y. Wang, L. He, S. Jiang and T. W. S. Chow, "Failure Prediction of Hard Disk Drives Based on Adaptive Rao–Blackwellized Particle Filter Error Tracking Method," in IEEE Transactions on Industrial Informatics (JCR一区，中科院一区，IF:9.112), vol. 17, no. 2, pp. 913-921, Feb. 2021.</p>
                <p>[5] Y. Wang, Y. Peng and T. W. S. W. S. Chow, "Adaptive Particle Filter -based Approach for RUL Prediction Under Uncertain Varying Stresses with Application to HDD," in IEEE Transactions on Industrial Informatics(JCR一区，中科院一区，IF:9.112), doi: 10.1109/TII.2021.3051285.</p>
                <p>[6] Y. Peng, Y. Wang(通讯作者), G. Wang and K. L. Tsui, "Doubly Stochastic Cumulative Damage Model for RUL Prediction of HDDs in Uncertain Operating Environments," in IEEE Transactions on Industrial Electronics (JCR一区，中科院一区，IF:7.515), doi: 10.1109/TIE.2020.3013777.</p>
                <p>[7] Peng Yizhen, Wang Yu(通讯作者), Xie Jingsong, Zi Yanyang, Adaptive stochastic-filter-based failure prediction model for complex repairable systems under uncertainty conditions, Reliability Engineering & System Safety, Volume 204, 2020, 107190.</p>
                <p>[8] Y. Peng, Y. Wang (通讯作者), Y. Zi, K.-L. Tsui, C. Zhang, “Dynamic Reliability assessment and prediction for repairable systems with interval-censored data,” Reliability Engineering & System Safety (JCR一区， IF:5.0), 2017. </p>
                <p>[9] J. Li, Y. Wang (通讯作者), Y. Zi and S. Jiang, "A Local Weighted Multi-Instance Multilabel Network for Fault Diagnosis of Rolling Bearings Using Encoder Signal," in IEEE Transactions on Instrumentation and Measurement (JCR一区，中科院一区， IF:3.658), vol. 69, no. 10, pp. 8580-8589, Oct. 2020.</p>
                <p>[10] J. Li, Y. Wang (通讯作者), Y. Zi, X. Sun and Y. Yang, "A Current Signal-Based Adaptive Semisupervised Framework for Bearing Faults Diagnosis in Drivetrains," in IEEE Transactions on Instrumentation and Measurement (JCR一区，中科院一区， IF:3.658), vol. 70, pp. 1-12, 2021.</p>
                <p>[11] Y. Wang, X. Sun, J. Li and Y. Yang, "Intelligent Fault Diagnosis with Deep Adversarial Domain Adaptation," in IEEE Transactions on Instrumentation and Measurement(JCR一区，中科院一区， IF:3.658), doi: 10.1109/TIM.2020.3035385.</p>
                <p>[12] Y. Wang, J. Yuan, A. Yang, S. Chen, X. Wei, “Time-frequency Signature Investigation of Operational Shock-induced Slider Transient Dynamics and Damage by Enhanced Ensemble Noise-Reconstructed EMD,” Tribology International (JCR一区，中科院一区，IF:4.271), vol. 138, pp:330-341, 2019.</p>
                <p>[13] A. Yang, Y. Wang (通讯作者), Y. Zi, X. Liang, “Quantitative identification of slider nanoscale wear based on the head-disk interface dynamics,” Tribology International (JCR一区，IF:4.271), 2017.</p>
                <p>[14] Y Li, Y. Wang (通讯作者), Y Zi, M Zhang, An enhanced data visualization method for diesel engine malfunction classification using multi-Sensor signals, Sensors (JCR二区，IF:2.48), 2015. </p>
                <p>[15] Y. Wang, Q. Miao, E. W. M. Ma, K. L. Tsui, and M. Pecht, “Online anomaly detection for hard disk drive based on Mahalanobis distance,” IEEE Transactions on Reliability (JCR一区，IF:2.73), 2013. </p>
                <p>[16] A. Yang, Y. Wang (通讯作者), Y. Zi, T. W.S. Chow, “An Enhanced Trace Ratio Linear Discriminant Analysis for Fault Diagnosis: An Illustrated Example Using HDD Data.” IEEE Transactions on Instrumentation and Measurement (JCR一区，IF:3.658), in press. </p>
                <p>[17] Y. Wang, X. Wei, “Wear Study for Dual-Heater Slider Under High Temperature,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2018.</p>
                <p>[18] Y. Wang, X. Wei, X. Liang, S. Yin, Y. Zi, K.-L. Tsui, “An In-situ Measurement Method for Electric Potential at Head-disk Interface Using a Thermal Asperity Sensor,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2015.</p>
                <p>[19] Y. Wang, X. Wei, X. Liang, Y. Zi, K.-L. Tsui, “Slider Dynamics and Wear Behaviors at Sub-Nano-Clearance Head-Disk Interface,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2015. </p>
                <p>[20] Y. Wang, X. Wei, X. Liang, S. Yin, Y. Zi, K.-L. Tsui, “The Instability of Angstrom-scale Head-disk Interface Induced by Electrostatic Force,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2015. </p>
                <p>[21] Y. Wang, X. Jin, S. Chen, X. Wei, and K. L. Tsui, “Effect of low-frequency vibration in z-direction (out-of-plane) on slider dynamics,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2013.</p>
                <p>[22] Y. Wang, X. Wei, K. L. Tsui, and T. W.S. Chow “Tribological degradation of head-disk interface in hard disk drives under accelerated wear condition,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2014.</p>
                <p>[23] Y. Wang, Z. S. Ye, and K. L. Tsui, “Stochastic evaluation of magnetic head wears in hard disk drives,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2014.</p>
                <p>[24] D. Zhao, Y. Wang (通讯作者), X. Wang, X. Wei, S. Chen, and K. L. Tsui, “Head stack assembly offtrack dynamics investigation via slider protrusion touch down,” IEEE Transactions on Magnetics (JCR二区，IF:1.6), 2013. </p>
                <p>[25] Y. Wang, X. Wei, Y. Zi, K.-L. Tsui, “In Situ Measurement of Seeking Speed and Seeking Induced Head-Disk Interface Instability in Hard Disk Drives,” Shock and vibration (JCR二区，IF:1.86), 2015.</p>
                <p>[26] Z. S. Ye, Y. Wang, K. L. Tsui, and M. Pecht, “Degradation data analysis using Wiener processes with measurement errors,” IEEE Transactions on Reliability (JCR一区，IF:2.73), 2013. (高被引论文)</p>
                <p>[27] S. Wang, Y. Wang, Y. Zi, Z. He, “A 3D finite element-based model order reduction method for parametric resonance and whirling analysis of anisotropic rotor-bearing systems,” Journal of Sound and Vibration (JCR一区，IF:2.73), 2015. </p>
                <p>[28] S. Wang, Y. Wang, Y. Zi, B. Li, Z. He, “Reduced-order modeling for rotating rotor-bearing systems with cracked impellers using three-dimensional finite element models,” Journal of Sound and Vibration (JCR一区，IF:2.62), 2015.</p>
                <p>[29] J. Yuan, Y. Wang, Y. Peng, C. Wei, “Weak fault detection and health degradation monitoring using customized standard multiwavelets,” Mechanical Systems and Signal Processing (JCR一区，IF:6.47), 2017. </p>
                <p>[30] X. Jin, Y. Wang, T. W.S Chow, Y. Sun, “MD-based approaches for system health monitoring: a review,” IET Science, Measurement & Technology (JCR二区，IF:1.34), 2017.</p>
                <p>[31] 参与编写，高等教育新工科-智能制造系列规划教材，智能运维与健康管理，机械工业出版社，2018.</p>
                <div class="title">专利</div>
                <p>[1] 王宇，彭一真等，一种区间删失情况下可靠性增长的评估与预测方法，申请号：CN106125713B，授权日期：2018-08-10</p>
                <p>[2] 王宇，何龙等，一种基于粒子滤波的硬盘故障预警与可靠性评估方法，公开号：CN108763048A，公开日期：2018-11-06</p>
                <p>[3] 王宇， 杨昂等，一种基于图像纹理特征指标的苹果口感定性鉴别方法，公开号：CN107527362A，公开日期：2017-08-14</p>
                <p>[4] 王宇，杨昂等，一种基于ETR‑LDA的硬盘磁头磨损状态识别方法，公开号 : CN106529474A，公开日期：2017-03-22</p>
                <p>[5] 王宇， 何龙等，一种振动环境下批量硬盘加速退化试验方法及装置，公开号：CN108520762A，公开日期：2018-09-11</p>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</div>
</body>
</html>