<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "common/head.html" %}
</head>

<body>
<div class="total-main">
    {% include "common/topmenu.html" %}
    <div class="ss s1">
        <div class="inner">
        </div>
    </div>
    <div class="ss s2">
        <div class="crumbs">
            <a href="/">首页</a> > <a href="/people">研究团队</a> > <a href="#">曹菁菁</a>
        </div>
        <div class="inner">
            <div class="img-box">
                <div class="img"></div>
                <div class="name">伍洲（教授）</div>
                <div class="info">
                    <p>联系方式: zhouwu@cqu.edu.cn</p>
                    <p>研究方向：</p>
                    <p>
                        人工智能优化与学习理论、能源互联网、建筑信息化、智能建造</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content">
                <p>
                    伍洲，重庆大学“百人计划”研究员、博导、重庆市高层次引进人才、IEEE高级会员。目前主要从事：人工智能优化与学习理论; 能源互联网；建筑信息化；智能建造。获得重庆市科技进步一等奖、IEEE
                    ISPCE-CN
                    2020国际会议最佳论文奖。授权发明专利3项、软件著作权2项。承担国家自然科学基金重点项目子课题1项、青年项目1项。成果发表在Science子刊、IEEE汇刊、Energy相关期刊。</p>
                <p>学术主页：<a href="https://scholar.google.com.hk/citations?user=ckK46o4AAAAJ&hl=en" target="_blank">https://scholar.google.com.hk/citations?user=ckK46o4AAAAJ&hl=en</a>
                </p>
                <div class="title">教育经历</div>
                <p>• 2003.09-2007.07，武汉大学，自动化专业，学士学位</p>
                <p>• 2007.09-2009.07，武汉大学，控制理论与控制工程专业，硕士学位</p>
                <p>• 2009.09-2013.02，香港城市大学，电子工程专业，博士学位</p>
                <div class="title">工作经历</div>
                <p>• 2012.11-2015.12，南非Pretoria大学，电子与计算机工程系，博士后研究员</p>
                <p>• 2016.03-至今，重庆大学，自动化学院，特聘研究员/博士生导师</p>
                <div class="title">代表性论文</div>
                <p>发表SCI期刊论文40余篇。第一/通讯作者SCI论文20余篇，如下所示：（通讯作者用*标明）</p>
                <div class="subtitle">·人工智能算法理论</div>
                <p>[1] Zhou Wu, Junjun Wu, Mingbo Zhao, Liang Feng, Kai Liu, “Two-layered ant colony system to improve engraving robot’s efficiency based on a large-scale TSP model”, Neural Computing and Applications, DOI 10.1007/s00521-020-05468-4, 2020; (IF 4.774)</p>
                <p>[2]Zhou Wu, Qian Li, Weiwei Wu, Mingbo Zhao, “Crowdsourcing model for energy efﬁciency retroﬁt and mixed-integer equilibrium analysis,” IEEE Transaction on Industrial Informatics, 16(7), pp. 4512-4524, 2020; (一区、影响因子IF 9.112)</p>
                <p>[3] Nian Ao, Mingbo Zhao, Qian Li, Shaochen Qu, Zhou Wu*, “Network characteristics for neighborhood field algorithms,” Neural Computing and Applications, 32, pp. 12061-12078, 2020; (IF 4.774)</p>
                <p>[4] Ruoli Tang, Zhou Wu*, Yanjun Fang, “Adaptive multi-context cooperatively coevolving particle swarm optimization for large-scale problems,” Soft Computing, 22(16), pp. 4735–4754, 2017; (IF 3.05)</p>
                <p>[5] Mingbo Zhao, Tommy W. S. Chow, Zhou Wu*, Zhao Zhang, Bin Li, “Learning from normalized local and global discriminative information for semi-supervised regression and dimensionality reduction,” Information Sciences, 324, pp. 286-309, 2015; (IF 5.91)</p>
                <p>[6] Zhou Wu, Tommy W. S Chow, “Neighborhood Field for Cooperative Optimization,” Soft Computing, 17(5), pp. 819-834, 2013; (IF 3.05)</p>
                <p>[7] Zhou Wu, Tommy W. S Chow, “A Local Multiobjective Optimization Algorithm Using Neighborhood Field,” Structural and Multidisciplinary Optimization, 46(6), pp. 853-870, 2012; (IF 3.377)</p>
                <div class="subtitle">·智能电网与能源</div>
                <p>[1] Zhou Wu, Qian Li, Xiaohua Xia, "Multi-timescale forecast of solar irradiance based on multi-task learning and echo state network approaches”, IEEE Transaction on Industrial Informatics, 17(1), pp. 300-310, 2021; (一区，IF 9.112)</p>
                <p>[2] Qian Li, Zhou Wu*, Haijun Zhang, “Spatio-temporal modeling with enhanced flexibility and robustness of solar irradiance prediction: A chain-structure echo state network approach,” Journal of Cleaner Production, 261, 21151, 2020 (一区，IF 7.246)</p>
                <p>[3] Qian Li, Zhou Wu, Rui Ling, Liang Feng, Kai Liu, “Multi-reservoir echo state computing for solar irradiance prediction: a fast yet efficient deep learning approach,” Applied Soft Computing, 95, 106481, 2020;（IF 5.472)</p>
                <p>[4] W. Sun, Y. Zheng, K. Yang, Q. Zhang, Akeel A. Shah, Zhou Wu, Y. Sun, Liang Feng, D. Chen, Z. Xiao, S. Lu, Y. Li, K. Sun, “Machine learning–assisted molecular design and efficiency prediction for high-performance organic photovoltaic materials,” Science Advances, 5(10), 2019; (Science子刊，一区，IF 12.804)</p>
                <p>[5] Qian Li, Zhou Wu*, Xiaohua Xia, “Estimate and characterize PV power at demand-side hybrid system,” Applied Energy, 218, 66-77, 2018; (一区，IF 8.848)</p>
                <p>[6] Zhou Wu, Xiaohua Xia, “Tariff-driven demand side management of green ship,” Solar Energy, 170, pp. 991-1000, 2018; (IF 4.608)</p>
                <p>[7] Zhou Wu, Kai Zhao, Xiaohua Xia, “Lighting retrofit and maintenance models with decay and adaptive control,” IET Control Theory and Applications, 12(5), pp. 593 – 600, 2018; (IF 3.343)</p>
                <p>[8] Ruoli Tang, Zhou Wu*, Xin Li, “Optimal operation of photovoltaic/battery/diesel/cold-ironing hybrid energy system for maritime application,” Energy, 162, 697-714, 2018; (一区，IF 6.082)</p>
                <p>[9] Zhou Wu, Rui Ling, Ruoli Tang, “Dynamic battery equalization with energy and time efficiency for electric vehicles,” Energy, 141, pp. 937-948, 2017; (一区，IF 6.082)</p>
                <p>[10] Ruoli Tang, Zhou Wu*, Yanjun Fang, “Configuration of marine photovoltaic system and its MPPT using model predictive control,” Solar Energy, 158, pp. 995-1005, 2017; (IF 4.608)</p>
                <p>[11] Ruoli Tang, Zhou Wu*, Yanjun Fang, “Maximum power point tracking of large-scale photovailtaic array,” Solar Energy, 134, pp. 503-514, 2016; (IF 4.608)</p>
                <p>[12] Zhou Wu, Bo Wang, Xiaohua Xia, "Large-scale building energy efficiency retrofit: Concept, model and control, Energy, 109, pp. 456-465, 2016; (一区，IF 6.082)</p>
                <p>[13] Zhou Wu, Henerica Tazvinga, Xiaohua Xia, “Demand Side Management of Photovoltaic-Battery Hybrid System,” Applied Energy, 148, pp. 294-304, 2015; (ESI高被引，一区， IF 8.426)</p>
                <p>[14] Zhou Wu, Xiaohua Xia, “Optimal Switching Renewable Energy System for Demand Side Management,” Solar Energy, 145, pp. 278-288, 2015; (IF 4.608)</p>
                <p>[15] Zhou Wu, Tommy W. S. Chow, “Binary Neighbourhood Field Optimization for Unit Commitment Problems,” IET Generation Transmission & Distribution, 7(3), pp. 299-308, 2013; (IF 2.862)</p>
                <div class="subtitle">·智能建筑与建造</div>
                <p>[1] Jiepeng Liu, Chengran Xu, Zhou Wu*, Y. Frank Chen, “Intelligent rebar layout in RC building frames using artificial potential field,” Automation in Construction, 114, 2020; (IF 5.669)</p>
                <p>[2] Xin Zhang, Xiu Zhang, Zhou Wu*, “Dual problem of sorptive barrier design with a multiobjective approach,” Neural Computing and Applications, 30(9), 2895-2905, 2018; (IF 4.774)</p>
                <p>[3] Xin Zhang, Zhou Wu*, “Study neighborhood field optimization algorithm on nonlinear sorptive barrier design problems,” Neural Computing and Applications, 28(4), pp. 783-795, 2017; (IF 4.774)</p>
                <p>[4] Zhou Wu, Xiao Xia, “Model Predictive Control for Improving Operational Efficiency of Overhead Cranes,” Nonlinear Dynamics, 79, pp. 2639-2657, 2015; (IF 4.867)</p>
                <p>[5] Zhou Wu, Xiaohua Xia, Bo Wang, “Improving Building Energy Efficiency by Multiobjective Neighborhood Field Optimization,” Energy and Buildings, 87, pp. 45-46, 2015; (IF 4.867)</p>
                <p>[6] Zhou Wu, Xiaohua Xia, “Optimal Motion Planning for Overhead Cranes,” IET Control Theory & Applications, 8(17), pp. 1833-1842, 2014; (IF 3.343)</p>
                <div class="title">出版书籍</div>
                <p>• Zhou Wu, Shi Cheng, Yuhui Shi, “Contour Gradient Optimization,” book chapter in Handbook of Research on Advancements of Swarm Intelligence Algorithms for Solving Real-Word Problems, IGI Global press, 2020；</p>
                <div class="title">研究领域</div>
                <div class="subtitle">·人工智能优化与学习理论</div>
                <p>单目标/多目标优化；模型预测控制；深度状态回声神经网络；多尺度异构时空数据融合；群体博弈论；</p>
                <div class="subtitle">· 智能电网与能源互联网</div>
                <p>新能源微电网；用户侧能源管理；分布式发电；电力市场；混合动力汽车/轮船；储能；</p>
                <div class="subtitle">· 建筑信息化与智能建造</div>
                <p>3D点云处理；轻量化和智能拼接；装配式建筑；工地视频检测；智能结构设计；绿色建筑设计和运维；</p>
                <div class="title">项目经历</div>
                <p>1.国家自然科学基金青年项目：大型建筑改造过程中多尺度多目标智能优化关键技术研究；(负责)</p>
                <p>2.国家自然科学基金重点项目：山区装备式混合结构桥梁的设计理论与智能化建造方法；(子课题负责人）</p>
                <p>3.中央高校基金前沿交叉项目: 众包机制下建筑节能改造的博弈及均衡策略; (负责）</p>
                <p>4.中央高校基金项目: 用户侧新能源混合发电系统的优化控制研究；(负责）</p>
                <p>5.重庆大学基础学科重点发展项目：建筑业大数据与人工智能；（主研）</p>
                <p>6.国家自然科学基金面上项目：总线式结构电池组均衡系统电路优化设计及控制方法研究；(参与)</p>
                <div class="title">教学与学术服务</div>
                <p>· 指导博士研究生2名、硕士研究生9名；</p>
                <p>· 教授本科基础课程《计算机硬件基础》, 指导电子设计大赛、节能减排大赛；</p>
                <p>· 担任《自动化学报》编委、《计算机工程》青年编委；</p>
                <p>· Complex & Intelligent Systems副主编、Neural Computing & Applications等杂志客座主编；</p>
                <p>· IEEE高级会员、中国自动化协会会员及其可信系统专委会副秘书长；</p>
                <p>· 多个国际会议 (ISAS2018, ISAS2019, NCAA2020) 执行主席；</p>
                <div class="title">获奖情况</div>
                <p>· 2020年IEEE ISPCE-CN最佳论文奖；</p>
                <p>· 2018年重庆市科技进步一等奖：装配式钢-混凝土混合结构建筑及其信息化建造成套技术；</p>
                <p>· 2017年获得重庆市自然科学优秀学术论文奖；</p>
                <p>· 2017年获得重庆市高层次引进人才；</p>
                <p>· 2016年重庆大学“百人计划”引进人才；</p>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</div>
</body>
</html>